<%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
<%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>
<h1 class= "text-3xl font-bold p-4">Log In</h1>
<div class= "transform translate-x-20 p-2">
  <%= form_with url: session_path do |form| %>
    <div class= "grid p-2 max-cols-1 max-w-52">
      <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address] %><br>
      <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72 %><br>
      <div class= "bg-indigo-200 text-center max-w-20 rounded-lg"><%= form.submit "Sign in" %></div>
    </div>
  <% end %>
    <br>
</div>

<div class= "transform translate-x-4 p-2 bg-red-200 text-center max-w-40 rounded-lg"><%= link_to "Forgot password?", new_password_path %></div>
